.navbar {
    background-color: #007bff;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

.navbar a:hover {
    text-decoration: underline;
}
